<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDblFD73B8izOEU6zVCDQ5_aS5tNYcr83E</string>
	<key>GCM_SENDER_ID</key>
	<string>651251519675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.franalarza.pet-reminder</string>
	<key>PROJECT_ID</key>
	<string>petreminder-5f642</string>
	<key>STORAGE_BUCKET</key>
	<string>petreminder-5f642.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651251519675:ios:bca15e1565dc05cf5f999e</string>
</dict>
</plist>